* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.header-logo {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	overflow: hidden;
}
.header-logo-img {
	height: 70px;
	float: left;
}
.nav-list {
	height: 70px;
	padding: 25px 0;
	margin: 0 auto;
	float: right;
}
.nav-list-item {
	font-size: 16px;
	color: #FAFAFA;
	list-style: none;
	display: inline-block;
	margin: 0 30px;
}
.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 200px;
}
.main-visual-name {
	font-size: 64px;
	color: #FAFAFA;
}
.main-visual-text {
	margin-top: 10px;
	font-size: 20px;
	color: #FAFAFA;
}
.portfolio {
	width: 100%;
	height: 881px;
	background-color: #ECEFF1;
}
.portfolio-box {
	width: 920px;
	margin: 0 auto;
}
.main-description-box {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.title {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	margin-bottom: 8px;
}
.line {
	border-bottom: solid 3px #EC715F;
	width: 70px;
	margin: 0 auto;

}
.main-description {
	font-size: 16px;
	color: #000000;
	margin: 30px auto;
}
.portfolio-img{
	float: left;
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
}
.portfolio-img:nth-child(2) {
	margin: 0 10px;
}
.portfolio-img:nth-child(5) {
	margin: 0 10px;
}
.portfolio-img:nth-child(-n+3) {
	margin-bottom: 10px;
}
.portfolio-img:nth-child(n+4) {
	margin-bottom: 90px;
}
.portfolio-img:nth-child(1) {
	background-image: url(img/sketch.jpg);
}
.portfolio-img:nth-child(2) {
	background-image: url(img/websuku.png);
}
.portfolio-img:nth-child(3) {
	background-image: url(img/write.jpg);
}
.portfolio-img:nth-child(4) {
	background-image: url(img/webcamp.png);
}
.portfolio-img:nth-child(5) {
	background-image: url(img/talk.jpg);
}
.portfolio-img:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}
.feature {
	width: 100%;
	height: 673px;
}
.feature-box {
	width: 980px;
	margin: 0 auto;
}
.feature-item-box {
	width: 980px
	margin: 0 auto;
}
.feature-item {
	width: 320px;
	text-align: center;
	float: left;
	margin-bottom: 90px;
}
.fa-large {
	font-size: 60px;
}
.icon-title {
	font-size: 20px;
	color: #000000;
	margin: 10px auto;
}
.icon-description {
	font-size: 16px;
	color: #000000;
}
.span {
	margin: 10px 0;
}
.profile {
	width: 100%;
	height: 600px;
	background-color: hotpink;
}
.contact {
	width: 100%;
	height: 600px;
	background-color: pink;
}
.footer {
	width: 100%;
	height: 60px;
	background-color: gold;
}